<div class="row marginBottom50px">
    <div class="col-lg-12 text-center">

        <h1 class="display-1">Risk Mitigator For Extreme Weather</h1>
        <em class="text-muted h4">Stay Notified, Stay Safe</em>
    </div>
</div>


<div class="row text-center background-info marginBottom20px">
    <div class="col-lg-12">
        <p class="display-3">
            MAP GOES HERE
        </p>
    </div>
</div>


<div class="row background-white marginBottom20px padding20px text-center addBoxShadow">
    <div class="col-lg-12">
        <h1 class="display-4">Intro</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis, sed dolores officiis odio, delectus obcaecati
            temporibus, repellat expedita quod ad. Natus quasi beatae id vitae dolor doloribus, tempore dicta.
            <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure magnam dolorem, distinctio totam debitis aliquid
            perspiciatis dolorum dolore in! Aspernatur suscipit, cum voluptas velit necessitatibus ab labore cumque esse
            rerum!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quia odit, optio magnam quisquam voluptatem
            assumenda amet dolore necessitatibus quidem animi repellat? Laudantium quod ullam explicabo suscipit sapiente!
            Quasi, sequi.
        </p>
    </div>
</div>

<div class="row background-white padding20px text-center justify-content-lg-center addBoxShadow marginBottom20px">
  <div class="col-lg-6">
    <h1 class="display-4">The Team</h1>
    <div class="card-deck">

      <div class="card border-white">
        <img class="card-img-top rounded-circle" src="assets/team/chrisw.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="card-title">Christopher Woods</div>
          <div class="card-text text-muted small">
            Angular, Firebase
          </div>
        </div>
      </div>

      <div class="card border-white">
        <img class="card-img-top rounded-circle" src="assets/team/alexm.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="card-title">Alex Matsukevich</div>
          <div class="card-text text-muted small">
            Android, Mobile, Firebase
          </div>
        </div>
      </div>

      <div class="card border-white">
        <img class="card-img-top rounded-circle" src="assets/team/jazs.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="card-title">Jasdeep Singh</div>
          <div class="card-text text-muted small">
            HTML, CSS, JS
          </div>
        </div>
      </div>

      <div class="card border-white">
        <img class="card-img-top rounded-circle" src="assets/team/kishanw.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="card-title">Kishan Wanigasinghe</div>
          <div class="card-text text-muted small">
            .Net, HTML, CSS, JS
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row marginBottom20px padding20px addBoxShadow">

    <div class="col-lg-4 background-grey">

        <h1 class="display-4">
            Features
        </h1>

        <div class="list-group">
        
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">Feature 1</h4>
            </div>
            <p class="mb-1">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quod tenetur consequuntur aperiam placeat soluta incidunt, officiis nostrum, autem ea quam unde numquam eum distinctio deleniti natus pariatur odit repellat.
            </p>
          </div>

          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">Feature 2</h4>
            </div>
            <p class="mb-1">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quod tenetur consequuntur aperiam placeat soluta incidunt,
              officiis nostrum, autem ea quam unde numquam eum distinctio deleniti natus pariatur odit repellat.
            </p>
          </div>

          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">Feature 3</h4>
            </div>
            <p class="mb-1">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quod tenetur consequuntur aperiam placeat soluta incidunt,
              officiis nostrum, autem ea quam unde numquam eum distinctio deleniti natus pariatur odit repellat.
            </p>
          </div>
        
        </div>
    </div>

    <div class="col-lg-4 justify-content-lg-center background-white">
      <h1 class="display-4 text-center">Technologies Used</h1>
      <br>
    
      <div class="card-deck">
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/angular.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/html.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/css.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
      </div>
    
      <div class="card-deck">
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/firebase.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/git.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/android.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
      </div>
      <div class="card-deck">
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/weather.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/google.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
        <div class="card border-white">
          <img class="card-img-top" src="assets/node.png" alt="Card image cap">
          <div class="card-body">
          </div>
        </div>
    
      </div>
    
    </div>

      <div class="col-lg-4 background-grey">
        <h1 class="display-4">Future Goals</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo perspiciatis, sed dolores officiis odio, delectus obcaecati
          temporibus, repellat expedita quod ad. Natus quasi beatae id vitae dolor doloribus, tempore dicta.
          <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure magnam dolorem, distinctio totam debitis aliquid perspiciatis
          dolorum dolore in! Aspernatur suscipit, cum voluptas velit necessitatibus ab labore cumque esse rerum!. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Ad quia odit, optio magnam quisquam voluptatem assumenda amet dolore necessitatibus
          quidem animi repellat? Laudantium quod ullam explicabo suscipit sapiente! Quasi, sequi.
        </p>
      
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Goal 1 - name/ description</li>
          <li class="list-group-item">Goal 2 - name/ description</li>
          <li class="list-group-item">Goal 3 - name/ description</li>
          <li class="list-group-item">Goal 4 - name/ description</li>
          <li class="list-group-item">Goal 5 - name/ description</li>
        </ul>
      </div>

</div>