<div class="row">
  <div class="col-lg-12">
    <p class="display-4">
      Hey There
    </p>
  </div>
</div>


<div class="row">
  <div class="col-lg-6">

    <div id="googleMap">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=Columbus,Ohio&size=800x800" alt="">
    </div>

  </div>


  <div class="col-lg-6">


    <div class="dashboard-topic background-red">
      <i class="fas fa-fire dashboard-topic-icon"></i>
      <div class="title">Fire watch</div>
      <div class="content">80% chance or wild fire this month.</div>
    </div>

    <div class="dashboard-topic background-blue">
      <i class="fas fa-tint dashboard-topic-icon"></i>
      <div class="title">Rain watch</div>
      <div class="content">100% chance of rain this month.</div>
    </div>

    <div class="dashboard-topic background-yellow">
      <i class="fas fa-cloud dashboard-topic-icon"></i>
      <div class="title">Air Quality watch</div>
      <div class="content">5% chance of bad air quality this month.</div>
    </div>

  </div>
</div>