
<!--<div *ngIf="!(isLoggedIn|async)">-->
    <!--<div class="col-md-6">-->
        <!--<p>You need to <a (click)="navigateToLogin($event)" href="#">Log In</a> or <a (click)="navigateToRegister($event)" href="#">Register</a></p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container">-->

    <!--<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChoseLocation($event)">-->
        <!--<agm-marker-->
            <!--[latitude]="lat"-->
            <!--[longitude]="lng"-->
            <!--*ngIf="locationChosen">-->
            <!--<agm-info-window>Dummy Data</agm-info-window>-->
        <!--</agm-marker>-->
    <!--</agm-map>-->

<!--</div>-->

<!-- <div class="row" *ngIf="(isLoggedIn|async)">
    <div class="col-lg-12">
        <p class="display-4">Hey {{(currentUser()|async).email}},</p>
    </div>
</div> -->

<div class="row background-white">

    <div class="col-lg-8">
        <div id="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=false [zoomControl]=true [fullscreenControl]=true
                [mapTypeControl]=true [scrollwheel]=false (mapClick)="onChoseLocation($event)">
        
                <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChosen">
        
                    <agm-info-window>
                        <strong>Dummy Alert</strong>
                        <br />Alert Type:
                        <hr>Description:
                    </agm-info-window>
        
                </agm-marker>
        
            </agm-map>
        </div>
    </div>


    <div class="col-lg-4">
        <div id="alerts-container">
            <ul id="weather-alerts">
                <li data-alert-type="HUR">
                    <div class="icon background-info">
                        <i class="weather-icon fas fa-file-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Hurricane Local Statement</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="TOR">
                    <div class="icon background-yellow">
                        <i class="weather-icon fas fa-fire"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Tornado Warning</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="TOW">
                    <div class="icon background-red">
                        <i class="weather-icon fas fa-fire"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Tornado Watch</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="WRN">
                    <div class="icon background-yellow">
                        <i class="weather-icon fas fa-bolt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Severe Thunderstorm Warning</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="SEW">
                    <div class="icon background-blue">
                        <i class="weather-icon fas fa-bolt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Severe Thunderstorm Watch</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="WIN">
                    <div class="icon background-blue">
                        <i class="weather-icon fas fa-snowflake"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Winter Weather Advisory</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="FLO">
                    <div class="icon background-yellow">
                        <i class="weather-icon fas fa-umbrella"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Flood Warning</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="WAT">
                    <div class="icon background-info">
                        <i class="weather-icon fas fa-file-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Flood Watch / Statement</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="WND">
                    <div class="icon background-blue">
                        <i class="weather-icon fab fa-cloudversify"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">High Wind Advisory</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="SVR">
                    <div class="icon background-info">
                        <i class="weather-icon fas fa-file-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Severe Weather Statement</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="HEA">
                    <div class="icon background-red">
                        <i class="weather-icon fas fa-sun"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Heat Advisory</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="FOG">
                    <div class="icon background-red">
                        <i class="weather-icon fas fa-fire"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Dense Fog Advisory</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="SPE">
                    <div class="icon background-info">
                        <i class="weather-icon fas fas fa-file-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Special Weather Statement</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="FIR">
                    <div class="icon background-red">
                        <i class="weather-icon fab fa-hotjar"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Fire Weather Advisory</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="VOL">
                    <div class="icon background-info">
                        <i class="weather-icon fas fa-file-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Volcanic Activity Statement</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="HWW">
                    <div class="icon background-yellow">
                        <i class="weather-icon fab fa-cloudversify"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Hurricane Wind Warning</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="REC">
                    <div class="icon background-info">
                        <i class="weather-icon far fa-list-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Record Set</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="REP">
                    <div class="icon background-info">
                        <i class="weather-icon fas fa-exclamation-circle"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Public Reports</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>
                
                
                <li data-alert-type="PUB">
                    <div class="icon background-info">
                        <i class="weather-icon fas fa-file-alt"></i>
                    </div>
                    <div class="text-content">
                        <div class="title">Public Information Statement</div>
                        <div class="small-desc">There is a possible chance of a this severe weather condition.</div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>