<nav id="main-nav">
    <div id="site-logo">
        <div id="side-nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <a [routerLink]="['']">
            <img class="logo" src="assets/Liberty_Mutual.svg">
        </a>
    </div>

    <form action="#" id="main-nav-search-form">
        <input type="text">
        <button class="">
            <i class="text-color-white fas fa-search"></i>
        </button>
    </form>

    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['']">Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['dashboard']" *ngIf="(isLoggedIn|async)">Dashboard</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['aboutus']" *ngIf="(isLoggedIn|async)">About Us</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['all-in-one']" *ngIf="!(isLoggedIn|async)">All In One</a>
        </li>


        
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(isLoggedIn|async)">
            <a [routerLink]="['login']">Login</a>
        </li>
        <li *ngIf="(isLoggedIn|async)">
            <a (click)="logout()" href="#">Logout</a>
        </li>
    </ul>


</nav>

<div id="main-container">
    <div id="side-nav" class="animated" data-is-visible="false" data-is-initial-load>

        <div id="side-nav-container">

            <section>
                <p class="side-nav-section-title">Links</p>
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['']">Home</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(isLoggedIn|async)">
                        <a [routerLink]="['login']">Login</a>
                    </li>
                    <li *ngIf="(isLoggedIn|async)">
                        <a (click)="logout()" href="#">Logout</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['dashboard']" *ngIf="(isLoggedIn|async)">Dashboard</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['aboutus']" *ngIf="(isLoggedIn|async)">About Us</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['all-in-one']" *ngIf="!(isLoggedIn|async)">All In One</a>
                    </li>
                </ul>
            </section>

        </div>

    </div>

    <div id="content-area">



        <div class="container-fluid">

            <router-outlet></router-outlet>

        </div>



    </div>
</div>